<!-- Pie de página -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="#" (click)="mostrarModal($event)">&copy; 2024 TecCP. Todos los derechos reservados.</a>
            </div>
        </div>
    </div>
</footer>


<!-- Modal -->
<p-dialog header="Política de Privacidad de SchoolChat" [(visible)]="displayModal" [modal]="true" [closable]="true"
    width="400">
    <div>
        <!-- Contenido de las políticas de privacidad -->
        <h1>Política de Privacidad para SchoolChat</h1>
        <p>Última actualización: 2 de julio de 2024</p>

        <h2>Política de Privacidad</h2>
        <p>Esta Política de Privacidad describe nuestras políticas y procedimientos sobre la recopilación, uso y
            divulgación de su información cuando utiliza el Servicio y le informa sobre sus derechos de privacidad y
            cómo la ley le protege.</p>
        <p>Usamos sus datos personales para proporcionar y mejorar el Servicio. Al usar el Servicio, usted acepta la
            recopilación y el uso de información de acuerdo con esta Política de Privacidad. Esta Política de Privacidad
            ha sido creada con la ayuda del Generador de Políticas de Privacidad.</p>

        <h2>Interpretación y Definiciones</h2>
        <h3>Interpretación</h3>
        <p>Las palabras de las cuales la letra inicial está en mayúscula tienen significados definidos en las siguientes
            condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de si aparecen en
            singular o en plural.</p>

        <h3>Definiciones</h3>
        <p>Para los propósitos de esta Política de Privacidad:</p>
        <ul>
            <li><strong>Cuenta</strong> significa una cuenta única creada para que usted acceda a nuestro Servicio o
                partes de nuestro Servicio.</li>
            <li><strong>Afiliado</strong> significa una entidad que controla, es controlada por, o está bajo control
                común con una parte, donde "control" significa propiedad del 50% o más de las acciones, participación
                accionaria u otros valores con derecho a voto para la elección de directores u otra autoridad de
                gestión.</li>
            <li><strong>Empresa</strong> (referida como "la Empresa", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se
                refiere a SchoolChat.</li>
            <li><strong>Cookies</strong> son pequeños archivos que se colocan en su computadora, dispositivo móvil o
                cualquier otro dispositivo por un sitio web, que contienen los detalles de su historial de navegación en
                ese sitio web, entre sus muchos usos.</li>
            <li><strong>País</strong> se refiere a: México</li>
            <li><strong>Dispositivo</strong> significa cualquier dispositivo que pueda acceder al Servicio, como una
                computadora, un teléfono móvil o una tableta digital.</li>
            <li><strong>Datos Personales</strong> es cualquier información que se relaciona con un individuo
                identificado o identificable.</li>
            <li><strong>Servicio</strong> se refiere al Sitio Web.</li>
            <li><strong>Proveedor de Servicios</strong> significa cualquier persona natural o jurídica que procesa los
                datos en nombre de la Empresa. Se refiere a empresas o individuos de terceros empleados por la Empresa
                para facilitar el Servicio, para proporcionar el Servicio en nombre de la Empresa, para realizar
                servicios relacionados con el Servicio o para ayudar a la Empresa a analizar cómo se utiliza el
                Servicio.</li>
            <li><strong>Servicio de Medios Sociales de Terceros</strong> se refiere a cualquier sitio web o cualquier
                sitio web de red social a través del cual un Usuario puede iniciar sesión o crear una cuenta para usar
                el Servicio.</li>
            <li><strong>Datos de Uso</strong> se refiere a los datos recopilados automáticamente, ya sea generados por
                el uso del Servicio o de la propia infraestructura del Servicio (por ejemplo, la duración de una visita
                a la página).</li>
            <li><strong>Sitio Web</strong> se refiere a SchoolChat, accesible desde //http://localhost:4200/</li>
            <li><strong>Usted</strong> se refiere al individuo que accede o usa el Servicio, o la empresa, u otra
                entidad legal en nombre de la cual dicho individuo está accediendo o usando el Servicio, según
                corresponda.</li>
        </ul>

        <h2>Recopilación y Uso de sus Datos Personales</h2>
        <h3>Tipos de Datos Recopilados</h3>
        <h4>Datos Personales</h4>
        <p>Mientras usa Nuestro Servicio, podemos pedirle que nos proporcione cierta información de identificación
            personal que puede usarse para contactarlo o identificarlo. La información de identificación personal puede
            incluir, entre otros:</p>
        <ul>
            <li>Dirección de correo electrónico</li>
            <li>Nombre y apellido</li>
            <li>Número de teléfono</li>
            <li>Datos de Uso</li>
        </ul>

        <h4>Datos de Uso</h4>
        <p>Los Datos de Uso se recopilan automáticamente cuando se utiliza el Servicio.</p>
        <p>Los Datos de Uso pueden incluir información como la dirección de Protocolo de Internet de su dispositivo (por
            ejemplo, dirección IP), tipo de navegador, versión del navegador, las páginas de nuestro Servicio que
            visita, la hora y la fecha de su visita, el tiempo que pasa en esas páginas, identificadores únicos de
            dispositivos y otros datos de diagnóstico.</p>
        <p>Cuando accede al Servicio a través de un dispositivo móvil o por medio de él, podemos recopilar cierta
            información automáticamente, incluida, pero no limitada a, el tipo de dispositivo móvil que utiliza, su ID
            único de dispositivo móvil, la dirección IP de su dispositivo móvil, su sistema operativo móvil, el tipo de
            navegador de Internet móvil que utiliza, identificadores únicos de dispositivos y otros datos de
            diagnóstico.</p>
        <p>También podemos recopilar información que su navegador envía cada vez que visita nuestro Servicio o cuando
            accede al Servicio a través de un dispositivo móvil.</p>

        <h4>Información de Servicios de Medios Sociales de Terceros</h4>
        <p>La Empresa le permite crear una cuenta e iniciar sesión para usar el Servicio a través de los siguientes
            Servicios de Medios Sociales de Terceros:</p>
        <ul>
            <li>Google</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
        </ul>
        <p>Si decide registrarse a través de o de otra manera otorgarnos acceso a un Servicio de Medios Sociales de
            Terceros, podemos recopilar Datos Personales que ya están asociados con la cuenta de su Servicio de Medios
            Sociales de Terceros, como su nombre, su dirección de correo electrónico, sus actividades o su lista de
            contactos asociada con esa cuenta.</p>
        <p>También puede tener la opción de compartir información adicional con la Empresa a través de la cuenta de su
            Servicio de Medios Sociales de Terceros. Si elige proporcionar dicha información y Datos Personales, durante
            el registro o de otro modo, está dando permiso a la Empresa para usar, compartir y almacenar de manera
            consistente con esta Política de Privacidad.</p>

        <h4>Tecnologías de Seguimiento y Cookies</h4>
        <p>Usamos Cookies y tecnologías de seguimiento similares para rastrear la actividad en Nuestro Servicio y
            almacenar cierta información. Las tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts
            para recopilar y rastrear información y para mejorar y analizar Nuestro Servicio. Las tecnologías que
            utilizamos pueden incluir:</p>
        <ul>
            <li><strong>Cookies o Cookies del Navegador.</strong> Una cookie es un archivo pequeño colocado en su
                dispositivo. Puede instruir a su navegador para que rechace todas las Cookies o para que indique cuándo
                se está enviando una Cookie. Sin embargo, si no acepta Cookies, es posible que no pueda usar algunas
                partes de nuestro Servicio. A menos que haya ajustado la configuración de su navegador para que rechace
                Cookies, nuestro Servicio puede usar Cookies.</li>
            <li><strong>Balizas Web.</strong> Ciertas secciones de nuestro Servicio y nuestros correos electrónicos
                pueden contener pequeños archivos electrónicos conocidos como balizas web (también referidos como gifs
                claros, etiquetas de píxeles y gifs de un solo píxel) que permiten a la Empresa, por ejemplo, contar a
                los usuarios que han visitado esas páginas o abierto un correo electrónico y para otras estadísticas
                relacionadas con el sitio web (por ejemplo, registrar la popularidad de una sección determinada y
                verificar la integridad del sistema y del servidor).</li>
        </ul>
        <p>Las Cookies pueden ser "Persistentes" o "De Sesión". Las Cookies Persistentes permanecen en su computadora
            personal o dispositivo móvil cuando se desconecta, mientras que las Cookies de Sesión se eliminan tan pronto
            como cierra su navegador web. Obtenga más información sobre las cookies en el artículo de Políticas de
            Privacidad del sitio web.</p>
        <p>Usamos tanto Cookies de Sesión como Persistentes para los propósitos establecidos a continuación:</p>
        <ul>
            <li><strong>Cookies Necesarias / Esenciales</strong>
                <ul>
                    <li>Tipo: Cookies de Sesión</li>
                    <li>Administradas por: Nosotros</li>
                    <li>Propósito: Estas Cookies son esenciales para proporcionarle servicios disponibles a través del
                        Sitio Web y para permitirle usar algunas de sus características. Ayudan a autenticar a los
                        usuarios y prevenir el uso fraudulento de cuentas de usuario. Sin estas Cookies, los servicios
                        que usted ha solicitado no pueden ser proporcionados, y solo usamos estas Cookies para
                        proporcionarle esos servicios.</li>
                </ul>
            </li>
            <li><strong>Política de Cookies / Aviso de Aceptación de Cookies</strong>
                <ul>
                    <li>Tipo: Cookies Persistentes</li>
                    <li>Administradas por: Nosotros</li>
                    <li>Propósito: Estas Cookies identifican si los usuarios han aceptado el uso de cookies en el Sitio
                        Web.</li>
                </ul>
            </li>
            <li><strong>Cookies de Funcionalidad</strong>
                <ul>
                    <li>Tipo: Cookies Persistentes</li>
                    <li>Administradas por: Nosotros</li>
                    <li>Propósito: Estas Cookies nos permiten recordar las elecciones que usted hace cuando usa el Sitio
                        Web, como recordar sus datos de inicio de sesión o preferencia de idioma. El propósito de estas
                        Cookies es proporcionarle una experiencia más personal y evitar que tenga que volver a ingresar
                        sus preferencias cada vez que use el Sitio Web.</li>
                </ul>
            </li>
        </ul>
        <p>Para obtener más información sobre las cookies que usamos y sus opciones con respecto a las cookies, visite
            nuestra Política de Cookies.</p>

        <h2>Uso de sus Datos Personales</h2>
        <p>La Empresa puede usar Datos Personales para los siguientes propósitos:</p>
        <ul>
            <li><strong>Para proporcionar y mantener nuestro Servicio</strong>, incluso para monitorear el uso de
                nuestro Servicio.</li>
            <li><strong>Para gestionar su cuenta:</strong> para gestionar su registro como usuario del Servicio. Los
                Datos Personales que usted proporciona pueden darle acceso a diferentes funcionalidades del Servicio que
                están disponibles para usted como usuario registrado.</li>
            <li><strong>Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento y realización del
                contrato de compra de los productos, artículos o servicios que haya comprado u de cualquier otro
                contrato con nosotros a través del Servicio.</li>
            <li><strong>Para contactarlo:</strong> Para contactarlo por correo electrónico, llamadas telefónicas, SMS u
                otras formas equivalentes de comunicación electrónica, tales como las notificaciones push de una
                aplicación móvil con respecto a actualizaciones o comunicaciones informativas relacionadas con las
                funcionalidades, productos o servicios contratados, incluyendo las actualizaciones de seguridad, cuando
                sea necesario o razonable para su implementación.</li>
            <li><strong>Para proporcionarle noticias, ofertas especiales e información general sobre otros bienes,
                    servicios y eventos que ofrecemos que son similares a los que ya ha comprado o sobre los que ha
                    preguntado, a menos que haya optado por no recibir dicha información. </strong>
            <li><strong>Para gestionar sus solicitudes:</strong> Para atender y gestionar sus solicitudes hacia
                Nosotros.</li>
            <li><strong>Para transferencias de negocios:</strong> Podemos usar su información para evaluar o llevar a
                cabo una fusión, desinversión, reestructuración, reorganización, disolución u otra venta o transferencia
                de algunos o todos nuestros activos, ya sea como una empresa en marcha o como parte de una quiebra,
                liquidación o procedimiento similar, en el que los Datos Personales que tenemos sobre los usuarios de
                nuestros Servicios estén entre los activos transferidos.</li>
            <li><strong>Para otros propósitos:</strong> Podemos usar su información para otros fines, como análisis de
                datos, identificar tendencias de uso, determinar la efectividad de nuestras campañas promocionales y
                para evaluar y mejorar nuestro Servicio, productos, servicios, marketing y su experiencia.</li>
        </ul>
        <p>Podemos compartir su información personal en las siguientes situaciones:</p>
        <ul>
            <li><strong>Con proveedores de servicios:</strong> Podemos compartir su información personal con los
                proveedores de servicios para monitorear y analizar el uso de nuestro Servicio, para contactar con
                usted.</li>
            <li><strong>Para transferencias de negocios:</strong> Podemos compartir o transferir su información personal
                en relación con, o durante las negociaciones de, cualquier fusión, venta de activos de la Empresa,
                financiamiento o adquisición de la totalidad o una parte de Nuestro negocio a otra empresa.</li>
            <li><strong>Con Afiliados:</strong> Podemos compartir su información con nuestros afiliados, en cuyo caso
                requeriremos que esos afiliados respeten esta Política de Privacidad. Los afiliados incluyen nuestra
                empresa matriz y cualquier otra subsidiaria, socios de empresa conjunta u otras empresas que controlemos
                o que estén bajo control común con nosotros.</li>
            <li><strong>Con socios comerciales:</strong> Podemos compartir su información con nuestros socios
                comerciales para ofrecerle ciertos productos, servicios o promociones.</li>
            <li><strong>Con otros usuarios:</strong> cuando comparte información personal o interactúa en las áreas
                públicas con otros usuarios, dicha información puede ser vista por todos los usuarios y puede ser
                distribuida públicamente fuera. Si interactúa con otros usuarios o se registra a través de un Servicio
                de Medios Sociales de Terceros, sus contactos en el Servicio de Medios Sociales de Terceros pueden ver
                su nombre, perfil, fotos y descripción de su actividad. Del mismo modo, otros usuarios podrán ver
                descripciones de su actividad, comunicarse con usted y ver su perfil.</li>
            <li><strong>Con su consentimiento:</strong> Podemos divulgar su información personal para cualquier otro
                propósito con su consentimiento.</li>
        </ul>

        <h2>Retención de sus Datos Personales</h2>
        <p>La Empresa retendrá sus Datos Personales solo durante el tiempo que sea necesario para los propósitos
            establecidos en esta Política de Privacidad. Retendremos y utilizaremos sus Datos Personales en la medida
            necesaria para cumplir con nuestras obligaciones legales (por ejemplo, si estamos obligados a retener sus
            datos para cumplir con las leyes aplicables), resolver disputas y hacer cumplir nuestros acuerdos y
            políticas legales.</p>
        <p>La Empresa también retendrá Datos de Uso para fines de análisis interno. Los Datos de Uso generalmente se
            retienen por un período de tiempo más corto, excepto cuando estos datos se utilizan para fortalecer la
            seguridad o para mejorar la funcionalidad de nuestro Servicio, o cuando estamos legalmente obligados a
            retener estos datos por períodos de tiempo más largos.</p>

        <h2>Transferencia de sus Datos Personales</h2>
        <p>Su información, incluidos los Datos Personales, se procesa en las oficinas operativas de la Empresa y en
            cualquier otro lugar donde se encuentren las partes involucradas en el procesamiento. Esto significa que
            esta información puede ser transferida a — y mantenida en — computadoras ubicadas fuera de su estado,
            provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de
            las de su jurisdicción.</p>
        <p>Su consentimiento a esta Política de Privacidad seguido de su envío de dicha información representa su
            acuerdo con esa transferencia.</p>
        <p>La Empresa tomará todas las medidas razonablemente necesarias para garantizar que sus datos sean tratados de
            manera segura y de acuerdo con esta Política de Privacidad y no se realizará ninguna transferencia de sus
            Datos Personales a una organización o un país a menos que haya controles adecuados en vigor, incluida la
            seguridad de sus datos y otra información personal.</p>

        <h2>Divulgación de sus Datos Personales</h2>
        <h3>Transacciones Comerciales</h3>
        <p>Si la Empresa participa en una fusión, adquisición o venta de activos, sus Datos Personales pueden ser
            transferidos. Proporcionaremos un aviso antes de que sus Datos Personales sean transferidos y queden sujetos
            a una Política de Privacidad diferente.</p>
        <h3>Cumplimiento de la ley</h3>
        <p>Bajo ciertas circunstancias, se puede requerir que la Empresa divulgue sus Datos Personales si así lo
            requiere la ley o en respuesta a solicitudes válidas por parte de autoridades públicas (por ejemplo, un
            tribunal o una agencia gubernamental).</p>
        <h3>Otros requisitos legales</h3>
        <p>La Empresa puede divulgar sus Datos Personales en la creencia de buena fe de que dicha acción es necesaria
            para:</p>
        <ul>
            <li>Cumplir con una obligación legal</li>
            <li>Proteger y defender los derechos o la propiedad de la Empresa</li>
            <li>Prevenir o investigar posibles irregularidades en relación con el Servicio</li>
            <li>Proteger la seguridad personal de los usuarios del Servicio o del público</li>
            <li>Proteger contra la responsabilidad legal</li>
        </ul>

        <h2>Seguridad de sus Datos Personales</h2>
        <p>La seguridad de sus Datos Personales es importante para nosotros, pero recuerde que ningún método de
            transmisión por Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por
            usar medios comercialmente aceptables para proteger sus Datos Personales, no podemos garantizar su seguridad
            absoluta.</p>

        <h2>Privacidad de los Niños</h2>
        <p>Nuestro Servicio no se dirige a nadie menor de 13 años. No recopilamos a sabiendas información de
            identificación personal de nadie menor de 13 años. Si usted es un padre o tutor y sabe que su hijo nos ha
            proporcionado Datos Personales, por favor contáctenos. Si nos damos cuenta de que hemos recopilado Datos
            Personales de cualquier persona menor de 13 años sin verificación del consentimiento de los padres, tomamos
            medidas para eliminar esa información de nuestros servidores.</p>
        <p>Si necesitamos basarnos en el consentimiento como base legal para procesar su información y su país requiere
            el consentimiento de un padre, podemos requerir el consentimiento de su padre antes de recopilar y usar esa
            información.</p>

        <h2>Enlaces a Otros Sitios Web</h2>
        <p>Nuestro Servicio puede contener enlaces a otros sitios web que no son operados por Nosotros. Si hace clic en
            un enlace de un tercero, será dirigido al sitio de ese tercero. Le recomendamos encarecidamente que revise
            la Política de Privacidad de cada sitio que visite.</p>
        <p>No tenemos control y no asumimos ninguna responsabilidad por el contenido, las políticas de privacidad o las
            prácticas de los sitios o servicios de terceros.</p>

        <h2>Cambios a esta Política de Privacidad</h2>
        <p>Podemos actualizar nuestra Política de Privacidad de vez en cuando. Le notificaremos de cualquier cambio
            publicando la nueva Política de Privacidad en esta página.</p>
        <p>Le informaremos a través de correo electrónico y/o un aviso prominente en Nuestro Servicio, antes de que el
            cambio entre en vigor y actualizaremos la fecha de "Última actualización" en la parte superior de esta
            Política de Privacidad.</p>
        <p>Se le recomienda revisar esta Política de Privacidad periódicamente para cualquier cambio. Los cambios a esta
            Política de Privacidad son efectivos cuando se publican en esta página.</p>

        <h2>Contáctenos</h2>
        <p>Si tiene alguna pregunta sobre esta Política de Privacidad, puede contactarnos:</p>
        <ul>
            <li>Visitando esta página en nuestro sitio web: //http://localhost:4200/contact</li>
            <li>Por teléfono: 123-456-7890</li>
        </ul>
    </div>
    <p-footer>
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
    </p-footer>
</p-dialog>