.navbar {
  background-color: #5865F2; /* Color de fondo similar a Discord */
  color: white;
  padding: 0.5rem 1rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-item {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar-item:hover {
  background-color: #4752C4; /* Cambio de color al pasar el cursor */
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-end {
  display: flex;
  align-items: center;
}