<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img src="assets/logo.png" alt="Logo" width="30" height="30">
      <span>AcademyApp</span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home">Home</a>
      <!-- Agregar más enlaces aquí -->
    </div>
    
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/login">Iniciar Sesión</a>
      <a class="navbar-item" routerLink='/register'>Registrarse</a>
      <a class="navbar-item" routerLink="/profile">Salir</a>
    </div>
  </div>
</nav>