/* Asegúrate de que el contenedor principal abarque toda la pantalla */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #36393f;
  }
  
  #app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    background-color: #36393f;
    color: #dcddde;
  }
  
  .chat-header {
    background-color: #2f3136;
    border-bottom: 1px solid #202225;
    text-align: center;
  }
  
  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }
  
  .message {
    display: flex;
    margin-bottom: 10px;
  }
  
  .message-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message-content {
    display: flex;
    flex-direction: column;
  }
  
  .message-user {
    font-weight: bold;
  }
  
  .message-text {
    margin: 5px 0;
  }
  
  .message-time {
    font-size: 0.8em;
    color: #72767d;
  }
  
  .chat-input {
    display: flex;
    padding: 10px;
    background-color: #40444b;
    border-top: 1px solid #202225;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #2f3136;
    color: #dcddde;
  }
  
  .chat-input input:focus {
    outline: none;
  }
  
  .chat-input button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #7289da;
    color: #fff;
    cursor: pointer;
  }
  
  .chat-input button:hover {
    background-color: #5b6eae;
  }
  